@{
    ViewData["Title"] = "Home - Junipex";
}
@{
}
<div class="clearfix">
    <div class="card-header container d-flex justify-content-center text-secondary pt-4 pb-4">
        <h1>GET CONTACT INFO</h1>
    </div>
    <div class="container-fluid">
        <div class="page-content">
            <div class="container">
                <div class="container-fluid d-flex row">
                    <div class="col col-md-4 col-sm-12 col col-sm-4">
                        <div>
                            <h2 class="d-flex p-2 justify-content-center">
                                <a title="" target="_self" href="#">
                                    <i class="bi bi-house-door-fill"></i>
                                </a>
                            </h2>
                            <a title="Address" target="_self" href="#">
                                <p class="d-flex justify-content-center">Hanoi, Vietnam</p>
                            </a>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12 col col-sm-4">
                        <div>
                            <h2 class="d-flex p-2 justify-content-center">
                                <a title="" target="_self" href="#">
                                    <i class="bi bi-telephone-fill"></i>
                                </a>
                            </h2>
                            <a title="Phone Numbers" target="_self" href="#">
                                <p class="d-flex justify-content-center">Landline: +84 #<br />
                                    Hotline: +84 #</p>
                            </a>
                        </div>
                    </div>
                    <div class="col col-md-4 col-sm-12 col-sm-4">
                        <div>
                            <h2 class="d-flex p-2 justify-content-center">
                                <a class="" title="" target="_self" href="#">
                                    <i class="bi bi-envelope-at-fill"></i>
                                </a>
                            </h2>
                            <a title="e-mail" target="_self" href="#">
                                <p class="d-flex justify-content-center">info@junipex.vn</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="container-fluid">
                    <div class="wpb_wrapper">
                        <div class="wpb_map_wraper">
                            <iframe
                                src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Vietshine Import-Export Company Limited, HH2 Building, Duong Dinh Nghe street, Yen Hoa ward, Cau Giay district, Hanoi city, Vietnam&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                                width="1400" height="500" style="border:0;" allowfullscreen="" loading="lazy">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container d-flex justify-content-center">
                <div class="row">
                    <div class="col col-12">
                        <div class="container text-secondary pt-4 pb-4 me-3">
                            <h2 class="d-flex justify-content-center">SEND A MESSAGE</h2>
                            <p class="d-flex justify-content-center">Always dedicated and devoted</p>
                        </div>
                        <div class="row container-fluid form-group">
                            <div class="col-md-8 col col-sm-12">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <form action="#" method="post" class="" novalidate="novalidate"
                                            data-status="init">
                                            <p><label> Your name<br />
                                                    <span class="f"><input type="text" name="your-name" value=""
                                                            size="60" class="form-control" aria-required="true"
                                                            aria-invalid="false" /></span>
                                                </label></p>
                                            <p><label> Your email<br />
                                                    <span class=""><input type="email" name="your-email" value=""
                                                            size="60" class="form-control" aria-required="true"
                                                            aria-invalid="false" /></span>
                                                </label></p>
                                            <p><label> Subject<br />
                                                    <span class=""></span><input type="text" name="your-subject"
                                                        value="" size="60" class="form-control" aria-required="true"
                                                        aria-invalid="false" /></span>
                                                </label></p>
                                            <p><label> Your message (optional)<br />
                                                    <span class=""><textarea name="your-message" cols="60" rows="10"
                                                            class="form-control" aria-invalid="false"></textarea></span>
                                                </label></p>
                                            <p><input type="submit" value="Submit" class="btn btn-secondary" />
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .entry-content -->
        </div>
    </div>
</div>