@{
    ViewData["Title"] = "Home - Junipex";
}
@{}
<div id="sb-page-structure">
        <!--htmlhint attr-no-duplication:false -->
        <section id="home" class="sb-section
                  sb-section-opt-dark
                  has-background
                  
                  option-section-hero option-align-left option-width-default option-section-background-image-fixed"
            data-sb-id="5d562640-3f8b-4434-a14a-83c18045108a" style="
           min-height: 80vh;
           ">
            <div data-custom-media-style="e963d5ce-5d4d-4304-851c-7430d89c0ebb" class="sb-background " data-bg="
            
              linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
            
            url('https://cdn.b12.io/media/3dc37682-3cc6-11e8-9f69-0242ac11000f-jpg-hero_image.jpeg')
          " style="
            
            background-image: 
              
                linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
              
              url('https://cdn.b12.io/media/3dc37682-3cc6-11e8-9f69-0242ac11000f-jpg-hero_image.jpeg')
          "></div>
            <div class="container
                sb-container-fixed
                sb-container">
                <!--htmlhint spec-char-escape:false -->
                <div id="sb-id-226491f1-99d3-463b-b234-5572e801d650" class="row
              sb-row
              sb-row-opt-padding-top-large
              sb-row-opt-padding-bottom-large
              sb-row-opt-center
              
              ">
                    <!--htmlhint spec-char-escape:false -->
                    <div id="sb-id-c5cf5e4c-6111-4d02-bc29-bbb4e8540651" class="sb-column
              col-xs-12
              col-sm-12
              col-md-12
              col-lg-12
              col-xl-12
              col-xs-offset-0
              col-sm-offset-0
              col-md-offset-0
              col-lg-offset-0
              col-xl-offset-0
              
              sb-component-hero
              
              
              " style="
              
              ">
                        <div id="sb-id-acac7301-3d66-4bf5-8af1-a90173be73c0" class="sb-column-content ">
                            <p></p>
                            <div class="sb-content sb-hero option-width sb-section-alignable "
                                data-sb-uuid="acac7301-3d66-4bf5-8af1-a90173be73c0">
                                <div class="sb-hero__content-wrapper">
                                    <h1 data-aos="slide-up" data-aos-offset="120" data-aos-delay="0"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="sb-title sb-hero__title" data-component-field="title"
                                        data-sb-field="text" data-sb-is-link="" data-sb-type="text"
                                        data-sb-uuid="1c5c969d-3cae-42cf-854d-beb180f7cdea">Junipex Company</h1>
                                    <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="50"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="sb-subtitle sb-hero__subtitle" data-component-field="subtitle"
                                        data-sb-field="text" data-sb-is-link="" data-sb-type="text"
                                        data-sb-uuid="f024dcbf-7b77-4f33-b327-d9fb818aa877">High-quality wood pellets
                                        for your heating needs</div>
                                </div>
                                <div class="sb-cta-wrapper sb-section-alignable ">
                                    <span data-aos="slide-up" data-aos-offset="120" data-aos-delay="150"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        data-component-field="" data-sb-field="" data-sb-is-link="true" data-sb-type=""
                                        data-sb-uuid="">
                                        <a class="sb-cta-wrapper__btn sb-button sb-button--primary"
                                            data-component-field="linkRaw" data-sb-field="" data-sb-is-link="true"
                                            data-sb-type="" data-sb-uuid="ceab50ea-f72b-499a-b8ae-82260b89592c"
                                            href="/index#services" rel=" " target="">View services</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--htmlhint attr-no-duplication:false -->
        <section id="about"
            class="sb-section
                  sb-section-opt-light
                  
                  
                  option-image-width-5col option-width-6col option-button-none option-align-left option-image-align-center option-image-align-mobile-left option-imagesize-mobile-lg option-imagecrop-rectangle-portrait option-link-decoration-arrow option-section-background-image-fixed option-imagesize-lg"
            data-sb-id="2ff55ec3-3d49-4aea-a56c-8118a17337f1" style="
           
           ">
            <div class="container
                sb-container-fixed
                sb-container">
                <!--htmlhint spec-char-escape:false -->
                <div id="sb-id-f36bef9a-d9f7-4a62-8673-04884b9b0a53" class="row
              sb-row
              sb-row-opt-padding-top-large
              sb-row-opt-padding-bottom-large
              sb-row-opt-center
              
              ">
                    <!--htmlhint spec-char-escape:false -->
                    <div id="sb-id-422987bf-c8a9-47eb-84d1-98cdd6d3d3f0" class="sb-column
              col-xs-12
              col-sm-12
              col-md-12
              col-lg-12
              col-xl-12
              col-xs-offset-0
              col-sm-offset-0
              col-md-offset-0
              col-lg-offset-0
              col-xl-offset-0
              
              sb-component-text-image
              
              
              " style="
              
              ">
                        <div id="sb-id-42d7551e-16e4-414b-931b-b63d17d02fbc" class="sb-column-content ">
                            <p></p>
                            <div class="sb-text-image sb-section-alignable"
                                data-sb-uuid="42d7551e-16e4-414b-931b-b63d17d02fbc">
                                <div class="sb-text-image__content option-width">
                                    <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="0"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="sb-title sb-text-image__content-title " data-component-field="title"
                                        data-sb-field="text" data-sb-is-link="" data-sb-type="text"
                                        data-sb-uuid="f8cdf11d-d69d-4005-ab57-0a1991177f25">How we got here</div>
                                    <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="50"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="sb-subtitle sb-text-image__content-subtitle"
                                        data-component-field="subtitle" data-sb-field="text" data-sb-is-link=""
                                        data-sb-type="text" data-sb-uuid="bf43de22-34c7-424b-a3e8-22fa6e7b1fd6">We make
                                        it our mission to provide you with high quality and unique products and
                                        experiences.</div>
                                    <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="100"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="sb-text-image__content-paragraph" data-component-field="paragraph"
                                        data-sb-field="text" data-sb-is-link="" data-sb-type="rich-text"
                                        data-sb-uuid="b8447bff-2933-4c65-912d-67727d164de5">
                                        <p>Since the first day we opened our doors, we’ve made it our mission to deliver
                                            exactly what you want at a value you deserve. It was true then, and it’s
                                            still true today. </p>
                                        <p>All of our products are sourced directly from the best providers because we
                                            believe that’s the only way to ensure top-notch quality. We hope to see you
                                            soon!</p>
                                    </div>
                                    <div class="sb-text-image__content-cta">
                                        <div class="sb-cta-wrapper sb-section-alignable ">
                                            <span data-aos="slide-up" data-aos-offset="120" data-aos-delay="200"
                                                data-aos-duration="400" data-aos-easing="ease-in-out"
                                                data-aos-once="true" data-component-field="" data-sb-field=""
                                                data-sb-is-link="true" data-sb-type="" data-sb-uuid="">
                                                <a class="sb-cta-wrapper__btn sb-button sb-button--secondary"
                                                    data-component-field="linkRaw" data-sb-field=""
                                                    data-sb-is-link="true" data-sb-type=""
                                                    data-sb-uuid="b0b680a7-4316-4545-9cdd-399c61797ca2"
                                                    href="/index#contact" rel=" " target="">Get in touch</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div data-aos="fade-in" data-aos-offset="120" data-aos-delay="0" data-aos-duration="400"
                                    data-aos-easing="ease-in-out" data-aos-once="true" class="sb-text-image__image">
                                    <figure
                                        data-bg="url(https://cdn.b12.io/media/7ddc53d8-3c8f-11e8-9369-0242ac11000f-city-houses-shops-shopping-hero_image.jpeg)"
                                        class="option-image lazy"
                                        data-custom-media-style="199bba8b-dfc2-44d8-b0cd-81886a21a188" skip-data-sb=""
                                        style="">
                                        <img alt="city houses shops shopping" loading="lazy"
                                            src="https://cdn.b12.io/media/7ddc53d8-3c8f-11e8-9369-0242ac11000f-city-houses-shops-shopping-hero_image.jpeg">
                                    </figure>
                                    <div class="sb-text-image__image-caption" data-component-field="image"
                                        data-sb-field="caption" data-sb-is-link="" data-sb-type="rich-text"
                                        data-sb-uuid="199bba8b-dfc2-44d8-b0cd-81886a21a188"></div>
                                </div>
                            </div>
                            <script>
                                $(function () {
                                    var $elem = $('[data-sb-uuid="42d7551e-16e4-414b-931b-b63d17d02fbc"]')
                                        , $section = $elem.closest('.sb-section')
                                        , hasProperClass = !!($section.hasClass('option-text-image-float-left') || $section.hasClass('option-text-image-float-right'));

                                    mq('(min-width: 767px)', function (match) {
                                        if (match && hasProperClass) {
                                            $elem.find('.option-image').prependTo($section);
                                        } else {
                                            $section.find('.option-image').prependTo($elem.find('.sb-text-image__image'));
                                        }
                                    });

                                    function mq(query, callback, usePolyfill) {
                                        var host = {};
                                        var isMatchMediaSupported = !!(window && window.matchMedia) && !usePolyfill;

                                        if (isMatchMediaSupported) {
                                            var res = window.matchMedia(query);

                                            callback.apply(host, [res.matches, res.media]);

                                            res.addListener(function (changed) {
                                                callback.apply(host, [changed.matches, changed.media]);
                                            });
                                        }
                                    }
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--htmlhint attr-no-duplication:false -->
        <section id="services"
            class="sb-section
                  sb-section-opt-light
                  
                  
                  option-imagecrop-rectangle-landscape option-collection-title-decoration-arrow option-card-hover-animation-grow option-image-color-hover-revert option-items-shadow-on-hover option-columns-3col option-align-content-left option-section-background-image-fixed option-items-shadow option-grid-align-default option-imagesize-lg"
            data-sb-id="bb169318-1680-4c77-aed9-e03dfe1c6512" style="
           
           ">
            <div class="container
                sb-container-fixed
                sb-container">
                <!--htmlhint spec-char-escape:false -->
                <div id="sb-id-e591ec00-103a-4216-83a9-df7edbd2120b" class="row
              sb-row
              sb-row-opt-padding-top-large
              sb-row-opt-padding-bottom-large
              sb-row-opt-center
              
              ">
                    <!--htmlhint spec-char-escape:false -->
                    <div id="sb-id-39c066cb-8415-4310-abaa-af954aa3c3b6" class="sb-column
              col-xs-12
              col-sm-12
              col-md-12
              col-lg-12
              col-xl-12
              col-xs-offset-0
              col-sm-offset-0
              col-md-offset-0
              col-lg-offset-0
              col-xl-offset-0
              
              sb-component-items-grid
              
              
              " style="
              
              ">
                        <div id="sb-id-26c290af-ab2b-413d-9c2a-c0d0308efa0c" class="sb-column-content ">
                            <div class="sb-items-grid">
                                <div class="sb-items-grid__content option-width sb-section-alignable">
                                    <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="0"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="sb-section-title " data-component-field="title" data-sb-field="text"
                                        data-sb-is-link="" data-sb-type="text"
                                        data-sb-uuid="4daa507d-2a65-47df-82d1-f1b15bed8181">What we offer</div>
                                    <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="50"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="sb-section-subtitle" data-component-field="subtitle" data-sb-field="text"
                                        data-sb-is-link="" data-sb-type="text"
                                        data-sb-uuid="78911f51-1f8d-4b56-9e66-aa15d0bb6fd8">Learn more about the
                                        services we offer</div>
                                    <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="100"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="sb-paragraph" data-component-field="paragraph" data-sb-field="text"
                                        data-sb-is-link="" data-sb-type="rich-text"
                                        data-sb-uuid="8f9f6433-871f-4500-a604-d8df30b22d38">
                                        <p>We’re proud to be a Bac Ninh-based business. From our flexible hours to our
                                            attention to detail, we’re here for you.</p>
                                    </div>
                                </div>
                                <ul class="sb-items-grid__items items-grid sb-section-alignable"
                                    data-sb-uuid="26c290af-ab2b-413d-9c2a-c0d0308efa0c">
                                    <li data-aos="fade-in" data-aos-offset="120" data-aos-delay="0"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="items-grid__item" skip-data-sb="">
                                        <a aria-label="Read more" class="items-grid__item-body" data-sb-is-link="true"
                                            data-sb-uuid="58bf18e2-3be2-4501-9ca1-24391a39050e" href="/service-title"
                                            rel=" " target="">
                                            <div class="items-grid__item-image" skip-data-sb="">
                                                <figure class="option-image lazy"
                                                    data-bg="url('https://cdn.b12.io/media/7bbeb7b0-3caf-11e8-8656-0242ac11000f-jpeg-hero_image.jpeg')"
                                                    data-custom-media-style="33c97e7e-a107-459c-9d16-864d645b0fdb"
                                                    skip-data-sb="">
                                                    <img alt="blur box business checkered shirt" loading="lazy"
                                                        src="https://cdn.b12.io/media/7c60453a-3caf-11e8-8656-0242ac11000f-jpeg-regular_image.jpeg">
                                                </figure>
                                            </div>
                                            <div class="items-grid__item-content" skip-data-sb="">
                                                <div class="items-grid__header h3" skip-data-sb="">
                                                    Service title


                                                    <svg fill="none" viewBox="0 0 10 17"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M1.25111 16.0843c-.320261 0-.640343-.1222-.88465-.3663-.488613-.4886-.488613-1.2807 0-1.7693l5.90679-5.90664L.36646 2.13545c-.488613-.48844-.488613-1.28069 0-1.769124.488434-.488435 1.28069-.488435 1.76912 0L8.92684 7.15759c.48844.48843.48844 1.28068 0 1.7693L2.13558 15.7181c-.24412.244-.56421.3662-.88447.3662Z"
                                                            fill="#000"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li data-aos="fade-in" data-aos-offset="120" data-aos-delay="50"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="items-grid__item" skip-data-sb="">
                                        <a aria-label="Read more" class="items-grid__item-body" data-sb-is-link="true"
                                            data-sb-uuid="04df8202-8ba1-4b0e-a254-3ffe4d841c86" href="/service-title-2"
                                            rel=" " target="">
                                            <div class="items-grid__item-image" skip-data-sb="">
                                                <figure class="option-image lazy"
                                                    data-bg="url('https://cdn.b12.io/media/71754d02-3cad-11e8-9f2d-0242ac11000f-jpg-hero_image.jpeg')"
                                                    data-custom-media-style="d562c7c3-2314-406c-91d5-92553de021ff"
                                                    skip-data-sb="">
                                                    <img alt="7b9d b4a7 andreas ronningen" loading="lazy"
                                                        src="https://cdn.b12.io/media/70d19ca2-3cad-11e8-9f2d-0242ac11000f-jpg-regular_image.jpeg">
                                                </figure>
                                            </div>
                                            <div class="items-grid__item-content" skip-data-sb="">
                                                <div class="items-grid__header h3" skip-data-sb="">
                                                    Service title 2


                                                    <svg fill="none" viewBox="0 0 10 17"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M1.25111 16.0843c-.320261 0-.640343-.1222-.88465-.3663-.488613-.4886-.488613-1.2807 0-1.7693l5.90679-5.90664L.36646 2.13545c-.488613-.48844-.488613-1.28069 0-1.769124.488434-.488435 1.28069-.488435 1.76912 0L8.92684 7.15759c.48844.48843.48844 1.28068 0 1.7693L2.13558 15.7181c-.24412.244-.56421.3662-.88447.3662Z"
                                                            fill="#000"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li data-aos="fade-in" data-aos-offset="120" data-aos-delay="100"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="items-grid__item" skip-data-sb="">
                                        <a aria-label="Read more" class="items-grid__item-body" data-sb-is-link="true"
                                            data-sb-uuid="1d5fec22-7893-4db9-ac97-61501f510204" href="/service-title-3"
                                            rel=" " target="">
                                            <div class="items-grid__item-image" skip-data-sb="">
                                                <figure class="option-image lazy"
                                                    data-bg="url('https://cdn.b12.io/media/9a184e14-3cab-11e8-9f2d-0242ac11000f-jpeg-hero_image.jpeg')"
                                                    data-custom-media-style="82a9b41f-5647-4ac3-9b88-ed178f3d53c6"
                                                    skip-data-sb="">
                                                    <img alt="architecture building business ceiling" loading="lazy"
                                                        src="https://cdn.b12.io/media/9968ac16-3cab-11e8-9f2d-0242ac11000f-jpeg-regular_image.jpeg">
                                                </figure>
                                            </div>
                                            <div class="items-grid__item-content" skip-data-sb="">
                                                <div class="items-grid__header h3" skip-data-sb="">
                                                    Service title 3


                                                    <svg fill="none" viewBox="0 0 10 17"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M1.25111 16.0843c-.320261 0-.640343-.1222-.88465-.3663-.488613-.4886-.488613-1.2807 0-1.7693l5.90679-5.90664L.36646 2.13545c-.488613-.48844-.488613-1.28069 0-1.769124.488434-.488435 1.28069-.488435 1.76912 0L8.92684 7.15759c.48844.48843.48844 1.28068 0 1.7693L2.13558 15.7181c-.24412.244-.56421.3662-.88447.3662Z"
                                                            fill="#000"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li data-aos="fade-in" data-aos-offset="120" data-aos-delay="150"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="items-grid__item" skip-data-sb="">
                                        <a aria-label="Read more" class="items-grid__item-body" data-sb-is-link="true"
                                            data-sb-uuid="459c4b62-2643-4c64-bce3-28aad7714da3" href="/service-title-4"
                                            rel=" " target="">
                                            <div class="items-grid__item-image" skip-data-sb="">
                                                <figure class="option-image lazy"
                                                    data-bg="url('https://cdn.b12.io/media/a1e29884-3cab-11e8-8656-0242ac11000f-pexels-photo-110130-hero_image.jpeg')"
                                                    data-custom-media-style="27f61809-b48d-4ea5-b119-03ef34e3e817"
                                                    skip-data-sb="">
                                                    <img alt="portrait man one people" loading="lazy"
                                                        src="https://cdn.b12.io/media/a23bdc28-3cab-11e8-8656-0242ac11000f-pexels-photo-110130-regular_image.jpeg">
                                                </figure>
                                            </div>
                                            <div class="items-grid__item-content" skip-data-sb="">
                                                <div class="items-grid__header h3" skip-data-sb="">
                                                    Service title 4


                                                    <svg fill="none" viewBox="0 0 10 17"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M1.25111 16.0843c-.320261 0-.640343-.1222-.88465-.3663-.488613-.4886-.488613-1.2807 0-1.7693l5.90679-5.90664L.36646 2.13545c-.488613-.48844-.488613-1.28069 0-1.769124.488434-.488435 1.28069-.488435 1.76912 0L8.92684 7.15759c.48844.48843.48844 1.28068 0 1.7693L2.13558 15.7181c-.24412.244-.56421.3662-.88447.3662Z"
                                                            fill="#000"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li data-aos="fade-in" data-aos-offset="120" data-aos-delay="200"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="items-grid__item" skip-data-sb="">
                                        <a aria-label="Read more" class="items-grid__item-body" data-sb-is-link="true"
                                            data-sb-uuid="a979acfe-6657-4da6-98c0-431357a7a695" href="/service-title-5"
                                            rel=" " target="">
                                            <div class="items-grid__item-image" skip-data-sb="">
                                                <figure class="option-image lazy"
                                                    data-bg="url('https://cdn.b12.io/media/0e31bf2c-3c8b-11e8-8a81-0242ac11000f-pexels-photo-12628-hero_image.jpeg')"
                                                    data-custom-media-style="eac48ce6-8ac7-4151-979f-c8a2cb7fd867"
                                                    skip-data-sb="">
                                                    <img alt="tie businessman pullover man" loading="lazy"
                                                        src="https://cdn.b12.io/media/0e76e188-3c8b-11e8-8a81-0242ac11000f-pexels-photo-12628-regular_image.jpeg">
                                                </figure>
                                            </div>
                                            <div class="items-grid__item-content" skip-data-sb="">
                                                <div class="items-grid__header h3" skip-data-sb="">
                                                    Service title 5


                                                    <svg fill="none" viewBox="0 0 10 17"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M1.25111 16.0843c-.320261 0-.640343-.1222-.88465-.3663-.488613-.4886-.488613-1.2807 0-1.7693l5.90679-5.90664L.36646 2.13545c-.488613-.48844-.488613-1.28069 0-1.769124.488434-.488435 1.28069-.488435 1.76912 0L8.92684 7.15759c.48844.48843.48844 1.28068 0 1.7693L2.13558 15.7181c-.24412.244-.56421.3662-.88447.3662Z"
                                                            fill="#000"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li data-aos="fade-in" data-aos-offset="120" data-aos-delay="250"
                                        data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true"
                                        class="items-grid__item" skip-data-sb="">
                                        <a aria-label="Read more" class="items-grid__item-body" data-sb-is-link="true"
                                            data-sb-uuid="24074506-f44b-4101-82d8-42d91f0f7d77" href="/service-title-6"
                                            rel=" " target="">
                                            <div class="items-grid__item-image" skip-data-sb="">
                                                <figure class="option-image lazy"
                                                    data-bg="url('https://cdn.b12.io/media/3563876e-3caf-11e8-8656-0242ac11000f-jpg-hero_image.jpeg')"
                                                    data-custom-media-style="8ad5c42b-b408-4c69-aa51-3ed3dd0bc413"
                                                    skip-data-sb="">
                                                    <img alt="woman in blue denim distressed jeans leaning on metal"
                                                        loading="lazy"
                                                        src="https://cdn.b12.io/media/35b6517e-3caf-11e8-8656-0242ac11000f-jpg-regular_image.jpeg">
                                                </figure>
                                            </div>
                                            <div class="items-grid__item-content" skip-data-sb="">
                                                <div class="items-grid__header h3" skip-data-sb="">
                                                    Service title 6


                                                    <svg fill="none" viewBox="0 0 10 17"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M1.25111 16.0843c-.320261 0-.640343-.1222-.88465-.3663-.488613-.4886-.488613-1.2807 0-1.7693l5.90679-5.90664L.36646 2.13545c-.488613-.48844-.488613-1.28069 0-1.769124.488434-.488435 1.28069-.488435 1.76912 0L8.92684 7.15759c.48844.48843.48844 1.28068 0 1.7693L2.13558 15.7181c-.24412.244-.56421.3662-.88447.3662Z"
                                                            fill="#000"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--htmlhint attr-no-duplication:false -->
        <section id="contact"
            class="sb-section
                  sb-section-opt-light
                  
                  
                  half-width-contact-form option-align-left option-section-background-contrast-none appointment-inline-view option-section-background-image-fixed"
            data-sb-id="7ce489ea-e07e-46ad-9402-c1db2c817f71" style="
           
           ">
            <div class="container
                sb-container-fixed
                sb-container">
                <!--htmlhint spec-char-escape:false -->
                <div id="sb-id-7f4fe937-1ec1-429d-8d99-c6e70bd9172b" class="row
              sb-row
              sb-row-opt-padding-top-large
              sb-row-opt-padding-bottom-large
              sb-row-opt-center
              
              ">
                    <!--htmlhint spec-char-escape:false -->
                    <div id="sb-id-54325372-8053-42a9-ab15-1289b0ddd916" class="sb-column
              col-xs-12
              col-sm-12
              col-md-12
              col-lg-12
              col-xl-12
              col-xs-offset-0
              col-sm-offset-0
              col-md-offset-0
              col-lg-offset-0
              col-xl-offset-0
              
              sb-component-contact-full
              
              
              " style="
              
              ">
                        <div id="sb-id-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d" class="sb-column-content ">
                            <p></p>
                            <div class="contact-full">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-5">
                                        <div class="contact-full__form"
                                            id="contact-form-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d">
                                            <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="0"
                                                data-aos-duration="400" data-aos-easing="ease-in-out"
                                                data-aos-once="true" class="sb-section-title sb-section-alignable"
                                                data-component-field="title" data-sb-field="text" data-sb-is-link=""
                                                data-sb-type="text" data-sb-uuid="40e36fc7-de78-417f-818a-07b58267db99">
                                                Get in touch</div>
                                            <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="50"
                                                data-aos-duration="400" data-aos-easing="ease-in-out"
                                                data-aos-once="true" class="sb-section-subtitle sb-section-alignable"
                                                data-component-field="subtitle" data-sb-field="text" data-sb-is-link=""
                                                data-sb-type="text" data-sb-uuid="7cff38ab-1673-4958-9f8a-1ecaac8eb3e8">
                                                Feel free to give us a call or send us an email with your questions or
                                                comments.</div>
                                            <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="100"
                                                data-aos-duration="400" data-aos-easing="ease-in-out"
                                                data-aos-once="true" class="sb-paragraph sb-section-alignable"
                                                data-component-field="paragraph" data-sb-field="text" data-sb-is-link=""
                                                data-sb-type="rich-text"
                                                data-sb-uuid="b3d4eb89-22e6-44eb-998f-9f9536b8fb81">
                                                <p>We would love to hear from you, whether you're interested in working
                                                    with our team or pursuing a career with us.</p>
                                            </div>
                                            <form data-aos="slide-up" data-aos-offset="120" data-aos-delay="0"
                                                data-aos-duration="400" data-aos-easing="ease-in-out"
                                                data-aos-once="true" class="form js-form" data-recaptcha-version="1"
                                                data-sb-type="contact_form"
                                                data-sb-uuid="0141143e-defa-448f-af41-b1b5610aa4ef"
                                                data-semantic-tag-blueprint="contact-form-form" data-send-type="ajax"
                                                id="UL_FORM_7473363b-7543-414c-a622-a100ac5d33dd">
                                                <div data-is-required="true"
                                                    class="form__group  form__group--required ">
                                                    <label class="form__label contact-form__label"
                                                        data-component-field="field" data-sb-field="custom_fields"
                                                        data-sb-is-link="" data-sb-type="contact_form"
                                                        data-sb-uuid="0141143e-defa-448f-af41-b1b5610aa4ef"
                                                        for="unique_id_2-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d">
                                                        Name <span class="form__label-required"
                                                            title="This field is required">*</span>
                                                    </label>
                                                    <input required="" class="form__input contact-form__input"
                                                        data-sb-field="custom_fields" data-sb-type="contact_form"
                                                        data-sb-uuid="0141143e-defa-448f-af41-b1b5610aa4ef"
                                                        id="unique_id_2-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d"
                                                        name="name" placeholder="Jane Smith" type="text" value="">
                                                </div>
                                                <div data-is-required="true"
                                                    class="form__group  form__group--required ">
                                                    <label class="form__label contact-form__label"
                                                        data-component-field="field" data-sb-field="custom_fields"
                                                        data-sb-is-link="" data-sb-type="contact_form"
                                                        data-sb-uuid="0141143e-defa-448f-af41-b1b5610aa4ef"
                                                        for="unique_id_1-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d">
                                                        Email address <span class="form__label-required"
                                                            title="This field is required">*</span>
                                                    </label>
                                                    <input required="" class="form__input contact-form__input"
                                                        data-sb-field="custom_fields" data-sb-type="contact_form"
                                                        data-sb-uuid="0141143e-defa-448f-af41-b1b5610aa4ef"
                                                        id="unique_id_1-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d"
                                                        name="from_email" placeholder="email@website.com" type="email"
                                                        value="">
                                                </div>
                                                <div data-is-required="true"
                                                    class="form__group  form__group--required ">
                                                    <label class="form__label contact-form__label"
                                                        data-component-field="field" data-sb-field="custom_fields"
                                                        data-sb-is-link="" data-sb-type="contact_form"
                                                        data-sb-uuid="0141143e-defa-448f-af41-b1b5610aa4ef"
                                                        for="unique_id_3-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d">
                                                        Phone number <span class="form__label-required"
                                                            title="This field is required">*</span>
                                                    </label>
                                                    <input required="" class="form__input contact-form__input"
                                                        data-sb-field="custom_fields" data-sb-type="contact_form"
                                                        data-sb-uuid="0141143e-defa-448f-af41-b1b5610aa4ef"
                                                        id="unique_id_3-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d"
                                                        name="from_phone" placeholder="555-555-5555" type="tel"
                                                        value="">
                                                </div>
                                                <div class="form__group   ">
                                                    <label class="form__label contact-form__label"
                                                        data-component-field="field" data-sb-field="custom_fields"
                                                        data-sb-is-link="" data-sb-type="contact_form"
                                                        data-sb-uuid="0141143e-defa-448f-af41-b1b5610aa4ef"
                                                        for="unique_id_4-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d">Message
                                                    </label>
                                                    <textarea
                                                        class="form__input form__input--textarea contact-form__textarea"
                                                        data-sb-field="custom_fields" data-sb-type="contact_form"
                                                        data-sb-uuid="0141143e-defa-448f-af41-b1b5610aa4ef"
                                                        id="unique_id_4-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d"
                                                        name="message" placeholder="" rows="4"></textarea>
                                                </div>
                                                <div data-is-required="true"
                                                    class="form__group form__group--checkbox form__group--required ">
                                                    <div class="form__checkbox-error"
                                                        id="checkbox-error-message-gdpr_consent-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d">
                                                        Please select at least one option.
                                                    </div>
                                                    <div class="form__input-checkbox-wrapper">
                                                        <input class="form__input form__input--checkbox"
                                                            id="3e040677-855d-47d0-a6c5-972b2d518a3d-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d"
                                                            name="I allow this website to store my submission so they can respond to my inquiry."
                                                            type="checkbox" value="Checked">
                                                        <label class="form__label contact-form__label "
                                                            data-component-field="checkbox"
                                                            data-sb-field="custom_fields" data-sb-is-link=""
                                                            data-sb-type="contact_form"
                                                            data-sb-uuid="0141143e-defa-448f-af41-b1b5610aa4ef"
                                                            for="3e040677-855d-47d0-a6c5-972b2d518a3d-f4fbfa79-e3c8-40df-b7cd-ed576fa3c26d">
                                                            I allow this website to store my submission so they can
                                                            respond to my inquiry. <span class="form__label-required"
                                                                title="This field is required">*</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <button class="sb-button sb-button--form contact-form__btn"
                                                    data-component-field="form_details" data-sb-field="button_label"
                                                    data-sb-is-link="" data-sb-type="text"
                                                    data-sb-uuid="0141143e-defa-448f-af41-b1b5610aa4ef"
                                                    type="submit">Submit</button>
                                            </form>
                                            <div class="b12-form-error">Sorry, we were not able to submit the form.
                                                Please review the errors and try again.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="contact-full__location">
                                            <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="0"
                                                data-aos-duration="400" data-aos-easing="ease-in-out"
                                                data-aos-once="true" class="contact-details vcard sb-section-alignable">
                                                <div class="contact-details__row contact-details__contact">
                                                    <div class="h3 contact-details__title" data-component-field="title"
                                                        data-sb-field="text" data-sb-is-link="" data-sb-type="text"
                                                        data-sb-uuid="40e36fc7-de78-417f-818a-07b58267db99">Get in touch
                                                    </div>
                                                    <div class="contact-details__email" data-component-field="contact"
                                                        data-sb-field="email" data-sb-is-link="" data-sb-type="email"
                                                        data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                        <svg height="8px" version="1.1" viewBox="0 0 12 8" width="12px"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M0 8h11.2V0H0v8zm5.6-2.673l1.095-.914 3.522 2.947H.983l3.522-2.947 1.095.914zm1.594-1.33l3.366-2.81v5.626L7.194 3.996zM5.6 4.492L.985.64h9.23L5.6 4.493zm-1.594-.497L.64 6.813V1.186l3.366 2.81z"
                                                                fill-rule="nonzero" stroke="none" stroke-width="1">
                                                            </path>
                                                        </svg>
                                                        <a aria-label="Email us at info@junipex.vn" class="email"
                                                            data-component-field="contact" data-sb-field="email"
                                                            data-sb-is-link="" data-sb-type="email"
                                                            data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747"
                                                            href="mailto:info@junipex.vn">info@junipex.vn</a>
                                                    </div>
                                                </div>
                                                <div class="contact-details__row contact-details__location">
                                                    <div class="h3 contact-details__title">Location</div>
                                                    <p class="adr contact-details__address">
                                                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M256 0C156.748 0 76 80.748 76 180c0 33.534 9.289 66.26 26.869 94.652l142.885 230.257A15 15 0 00258.499 512h.119a14.997 14.997 0 0012.75-7.292L410.611 272.22C427.221 244.428 436 212.539 436 180 436 80.748 355.252 0 256 0zm128.866 256.818L258.272 468.186l-129.905-209.34C113.734 235.214 105.8 207.95 105.8 180c0-82.71 67.49-150.2 150.2-150.2S406.1 97.29 406.1 180c0 27.121-7.411 53.688-21.234 76.818z">
                                                            </path>
                                                            <path
                                                                d="M256 90c-49.626 0-90 40.374-90 90 0 49.309 39.717 90 90 90 50.903 0 90-41.233 90-90 0-49.626-40.374-90-90-90zm0 150.2c-33.257 0-60.2-27.033-60.2-60.2 0-33.084 27.116-60.2 60.2-60.2s60.1 27.116 60.1 60.2c0 32.683-26.316 60.2-60.1 60.2z">
                                                            </path>
                                                        </svg>
                                                        <a aria-label="Our location at Bac Ninh, 56 VN"
                                                            href="https://www.google.com/maps/place/+Bac+Ninh+56+VN"
                                                            rel="noreferrer" target="_blank">
                                                            <span data-component-field="contact" data-sb-field="city"
                                                                data-sb-is-link="" data-sb-type="text"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">Bac
                                                                Ninh</span>
                                                            <span data-component-field="contact"
                                                                data-sb-field="state_province" data-sb-is-link=""
                                                                data-sb-type="text"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">,
                                                                56</span>
                                                            <span data-component-field="contact" data-sb-field="country"
                                                                data-sb-is-link="" data-sb-type="text"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">VN</span>
                                                        </a>
                                                    </p>
                                                </div>
                                                <div
                                                    class="contact-details__row contact-details__hours sb-hours-wrapper">
                                                    <div class="h3 contact-details__title">Hours</div>
                                                    <ol aria-label="Working hours" class="hours-list">
                                                        <li class="hours-list__item">
                                                            <div class="hours-list__day">
                                                                Mon<span
                                                                    class="hidden-xs-down hidden-sm-down hidden-md-down">day</span>
                                                            </div>
                                                            <div class="hours-list__from" data-component-field="contact"
                                                                data-sb-field="monday_from" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                9:00am</div>
                                                            <div class="hours-list__dash">–</div>
                                                            <div class="hours-list__to" data-component-field="contact"
                                                                data-sb-field="monday_to" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                10:00pm</div>
                                                        </li>
                                                        <li class="hours-list__item">
                                                            <div class="hours-list__day">
                                                                Tue<span
                                                                    class="hidden-xs-down hidden-sm-down hidden-md-down">sday</span>
                                                            </div>
                                                            <div class="hours-list__from" data-component-field="contact"
                                                                data-sb-field="tuesday_from" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                9:00am</div>
                                                            <div class="hours-list__dash">–</div>
                                                            <div class="hours-list__to" data-component-field="contact"
                                                                data-sb-field="tuesday_to" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                10:00pm</div>
                                                        </li>
                                                        <li class="hours-list__item">
                                                            <div class="hours-list__day">
                                                                Wed<span
                                                                    class="hidden-xs-down hidden-sm-down hidden-md-down">nesday</span>
                                                            </div>
                                                            <div class="hours-list__from" data-component-field="contact"
                                                                data-sb-field="wednesday_from" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                9:00am</div>
                                                            <div class="hours-list__dash">–</div>
                                                            <div class="hours-list__to" data-component-field="contact"
                                                                data-sb-field="wednesday_to" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                10:00pm</div>
                                                        </li>
                                                        <li class="hours-list__item">
                                                            <div class="hours-list__day">
                                                                Thu<span
                                                                    class="hidden-xs-down hidden-sm-down hidden-md-down">rsday</span>
                                                            </div>
                                                            <div class="hours-list__from" data-component-field="contact"
                                                                data-sb-field="thursday_from" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                9:00am</div>
                                                            <div class="hours-list__dash">–</div>
                                                            <div class="hours-list__to" data-component-field="contact"
                                                                data-sb-field="thursday_to" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                10:00pm</div>
                                                        </li>
                                                        <li class="hours-list__item">
                                                            <div class="hours-list__day">
                                                                Fri<span
                                                                    class="hidden-xs-down hidden-sm-down hidden-md-down">day</span>
                                                            </div>
                                                            <div class="hours-list__from" data-component-field="contact"
                                                                data-sb-field="friday_from" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                9:00am</div>
                                                            <div class="hours-list__dash">–</div>
                                                            <div class="hours-list__to" data-component-field="contact"
                                                                data-sb-field="friday_to" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                10:00pm</div>
                                                        </li>
                                                        <li class="hours-list__item">
                                                            <div class="hours-list__day">
                                                                Sat<span
                                                                    class="hidden-xs-down hidden-sm-down hidden-md-down">urday</span>
                                                            </div>
                                                            <div class="hours-list__from" data-component-field="contact"
                                                                data-sb-field="saturday_from" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                9:00am</div>
                                                            <div class="hours-list__dash">–</div>
                                                            <div class="hours-list__to" data-component-field="contact"
                                                                data-sb-field="saturday_to" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                6:00pm</div>
                                                        </li>
                                                        <li class="hours-list__item">
                                                            <div class="hours-list__day">
                                                                Sun<span
                                                                    class="hidden-xs-down hidden-sm-down hidden-md-down">day</span>
                                                            </div>
                                                            <div class="hours-list__from" data-component-field="contact"
                                                                data-sb-field="sunday_from" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                9:00am</div>
                                                            <div class="hours-list__dash">–</div>
                                                            <div class="hours-list__to" data-component-field="contact"
                                                                data-sb-field="sunday_to" data-sb-is-link=""
                                                                data-sb-type="time"
                                                                data-sb-uuid="42da163c-3827-4bb3-8216-05a1a25fa747">
                                                                12:00pm</div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>