<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <!-- Blog Post 1 -->
            <div class="card mb-4">
                <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Post Title</h5>
                    <p class="card-text">
                        <!-- Content for Post 2 -->
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                    <a href="#" class="btn btn-primary expand-button">Read More</a>
                </div>
            </div>

            <!-- Blog Post 2 -->
            <div class="card mb-4">
                <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Post 2 Title</h5>
                    <p class="card-text">
                        <!-- Content for Post 2 -->
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                    <a href="#" class="btn btn-primary expand-button">Read More</a>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Latest News</h5>
                    <ul class="list-group">
                        <li class="list-group-item">News 1</li>
                        <li class="list-group-item">News 2</li>
                        <li class="list-group-item">News 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Get all elements with class "expand-button"
    const expandButtons = document.querySelectorAll(".expand-button");

    // Add a click event listener to each expand button
    expandButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            const cardBody = this.closest(".card-body");
            const cardText = cardBody.querySelector(".card-text");
            
            if (cardText.style.maxHeight) {
                // Content is currently expanded, so collapse it
                cardText.style.maxHeight = null;
                this.textContent = "Read More";
            } else {
                // Content is currently collapsed, so expand it
                cardText.style.maxHeight = "1000px"; // Adjust this value as needed
                this.textContent = "Read Less";
            }
        });
    });
</script>