<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <!-- Blog Post 1 -->
            <div class="card mb-4">
                <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">First Blog Post</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget ipsum a
                        justo pulvinar aliquam. Fusce eget eros augue.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>

            <!-- Blog Post 2 -->
            <div class="card mb-4">
                <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">Second Blog Post</h2>
                    <p class="card-text">Pellentesque placerat tincidunt tincidunt. Aliquam erat volutpat. Cras
                        tristique, odio nec facilisis placerat.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Latest News</h5>
                    <ul class="list-group">
                        <li class="list-group-item">News 1</li>
                        <li class="list-group-item">News 2</li>
                        <li class="list-group-item">News 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>