<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <style>
                .card-body {
                    /* Adjust the height to your preferred value */
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .card-text {
                    /* Adjust the height to your preferred value */
                    max-height: 50px;
                    /* Adjust the width to your preferred value */
                    max-width: 100%;
                    /* Set the content to fit within the height and width */
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            </style>
            <!-- Blog Post 1 -->
            <div class="card mb-4">
                <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Post Title</h5>
                    <p class="card-text">
                        <!-- Content for Post 2 -->
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                    <a href="#" class="btn btn-primary expand-button">Read More</a>
                </div>
            </div>

            <!-- Blog Post 2 -->
            <div class="card mb-4">
                <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Post 2 Title</h5>
                    <p class="card-text">
                        <!-- Content for Post 2 -->
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium.Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                    <a href="#" class="btn btn-primary expand-button">Read More</a>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Latest News</h5>
                    <ul class="list-group">
                        <li class="list-group-item">News 1</li>
                        <li class="list-group-item">News 2</li>
                        <li class="list-group-item">News 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Get all elements with class "expand-button"
    const expandButtons = document.querySelectorAll(".expand-button");

    // Add a click event listener to each expand button
    expandButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            const content = button.previousElementSibling;


            if (content.style.maxHeight !== 'none') {
                content.style.maxHeight = 'none';
                content.style.whiteSpace = 'normal';
                button.textContent = 'Read Less';
            } else {
                content.style.maxHeight = '50px';
                content.style.whiteSpace = 'nowrap';
                button.textContent = 'Read More';
            }
        });
    });
</script>