<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TLD Apparel - High Quality Jacket Manufacturer in Vietnam" />
    <meta property="og:description"
        content="TLD Apparel - High Quality Jacket Manufacturer in Vietnam. Best Price. Fast Shipping. Good customer Service" />
    <meta property="og:url" content="https://tld-apparel.com/" />
    <meta property="og:site_name" content="A Sportswear &amp; Activewear Manufacturer &amp; Supplier in Vietnam" />
    <meta property="article:publisher" content="https://www.facebook.com/tldapparelvietnam/" />
    <meta property="article:modified_time" content="2023-03-14T10:13:00+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@@ApparelTld" />
    <meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:data1" content="3 minutes">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Junipex</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 justify-content-bettwen">
                        @* <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home"
                        asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link texyt-white" asp-area="" asp-controller="Home"
                        asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Category"
                        asp-action="Index">Category</a>
                        </li> *@
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                About Us
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Products
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                News
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Contact
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Info@@junipex.vn</a></li>
                                <li><a class="dropdown-item" href="#">ThomasNguyen@@junipex.vn</a></li>
                                <li><a class="dropdown-item" href="#">DorasPham@@junipex.vn</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 justify-content-bettwen">
                        <li>
                            <a href=# target="_blank">
                                <i class="bi bi-facebook text-white p-2"></i></a>
                        </li>
                        <li><a href=# target="_blank">
                                <i class="bi bi-twitter text-white p-2"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="\image\1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="\image\2.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="\image\3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="\image\4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container-fluid p-1">
        <div class="container text-center">
            <div class="row align-items-center p-1 m-1">
                <div class="col mt-5">
                    <img src="\image\5.png" class="img-fluid" alt="...">
                </div>
                <div class="col mt-5">
                    <div class="mt-5">
                        <h2>WELCOME TO TLD APPAREL</h2>
                    </div>
                    <div class="mt-5">
                        <p>Junipex is a reliable apparel manufacturer &amp;
                            supplier in Vietnam. We can produce a variety of
                            different costumes such as: T shirt, Polo, Pants,
                            Shorts, Jackets, Dresses, Skirts Blazers, Blouses, Bra,
                            Leggings. We can offer from single needle seams to
                            flat-lock or bonding, from basic quality like
                            cotton/spandex or polyester to special ones such as High
                            Compression Nylon, Cordura, Outlast, Cationic, Tactel,
                            more eco-friendly like Organic Cotton, Supima, Bamboo
                            viscose, Soybean, Coffee, Recycle Polyester, Lenzing
                            Tencel, Modal…..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-5 m-5">
        <main role="main" class="px-5">
            @RenderBody()
        </main>
    </div>
    <div class="card">
        <div class="card-footer">
            <div class="container text-center p-2">
                <div class="align-items-center">
                            <h4 class="sub-description">
                                Junipex - A Sportswear &amp; Activewear Manufacturer &amp;
                                Supplier in Vietnam </h4>
                </div>
            </div>
            <div class="container">
                <div class="container">
                    <div class="row px-2">
                        <div class="sidebar col-md-3 col-sm-6 col-1">
                            <aside>
                                <h4 class=""><span>Get in touch</span></h4>
                                <div class="">
                                    <ul class="">
                                        <li><i class="bi bi-geo-alt"></i> Ha Noi</li>
                                        <li><i class="bi bi-envelope"></i></i> info@junipex.vn/li>
                                        <li><i class="bi bi-telephone"></i>+84 981037349</li>
                                        <li><i class="bi bi-globe"></i></i> <a href="#">Visit
                                                our themes</a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="sidebar col-md-3 col-sm-6 col-2">
                            <aside>
                                <h4><span>Business Hours</span></h4>
                                <div>
                                    <ul>
                                        <li>Monday to Friday : 8am to 5:30pm</li>
                                        <li>Saturday: 8am to 12am</li>
                                        <li>Support Hours is 24/7 every day</li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="col-md-3 col-sm-6 col-3"></div>
                        @* <div class="col-md-3 col-sm-6 col-4">
                            <aside id="text-9" class="widget widget_text">
                                <h4 class="widget-title"><span>Mailing List</span></h4>
                                <div class="textwidget">
                                    <script>(function () {
                                            window.mc4wp = window.mc4wp || {
                                                listeners: [],
                                                forms: {
                                                    on: function (evt, cb) {
                                                        window.mc4wp.listeners.push(
                                                            {
                                                                event: evt,
                                                                callback: cb
                                                            }
                                                        );
                                                    }
                                                }
                                            }
                                        })();
                                    </script>
                                    <!-- Mailchimp for WordPress v4.8.4 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                    <form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-862 mc4wp-form-basic"
                                        method="post" data-id="862" data-name="Sign-up Form">
                                        <div class="mc4wp-form-fields">
                                            <div class="mail-chimp-wrapper">
                                                <p>Enter your email address for our mailing list to keep
                                                    your self our lastest updated.</p>
                                                <div class="mail-chimp-button">
                                                    <input type="email" id="mc4wp_email" name="EMAIL"
                                                        placeholder="Email Address" required />
                                                    <button type="submit"><i class="fa fa-paper-plane"></i></button>
                                                </div>
                                            </div>
                                        </div><label style="display: none !important;">Leave this field
                                            empty if you're human: <input type="text" name="_mc4wp_honeypot" value=""
                                                tabindex="-1" autocomplete="off" /></label><input type="hidden"
                                            name="_mc4wp_timestamp" value="1694813966" /><input type="hidden"
                                            name="_mc4wp_form_id" value="862" /><input type="hidden"
                                            name="_mc4wp_form_element_id" value="mc4wp-form-2" />
                                        <div class="mc4wp-response"></div>
                                    </form><!-- / Mailchimp for WordPress Plugin -->
                                </div>
                            </aside>
                        </div> *@
                    </div>
                </div>
                <div class="container">
                    <div class="bottom-bar-inner">
                        <div class="col">
                            <div class="row-md-6 sidebar sidebar-bottom-left">
                                <aside id="nav_menu-2" class="widget widget_nav_menu">
                                    <div class="menu-bottom-bar-right-container">
                                        <ul id="menu-bottom-bar-right" class="menu">
                                            <li id="menu-item-934" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-106 current_page_item menu-item-934">
                                                <a href="https://tld-apparel.com/" aria-current="page">Home</a>
                                            </li>
                                            <li id="menu-item-935"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-935">
                                                <a
                                                    href="https://tld-apparel.com/about-us-best-quality-uniform-workwear-factory-in-vietnam/">About
                                                    us</a>
                                            </li>
                                            <li id="menu-item-936"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-936">
                                                <a
                                                    href="https://tld-apparel.com/tld-apparel-padding-jacket-manufacturer-supplier-in-vietnam-6/">Contact
                                                    Us</a>
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-md-6 sidebar sidebar-bottom-right">
                                <aside id="text-5" class="widget widget_text">
                                    <div class="textwidget">
                                        <p class="bottom-bar-text">© 2021 TLD APPAREL is proudly powered by <a
                                                href="#">TLD
                                                Vietnam JSC</a></p>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
